{% extends 'core/base.html' %} {% block content %} {% load static %}
<section class="ec-page-content section-space-p">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ec-page-content__inner">
          <div class="ec-404-content text-center">
            <h1>Success</h1>
            <p class = "text-success">
              Your order has been placed successfully.
              <br />
              <img
                src="{% static 'assets/images/uploads/misc/thanks-for-order.jpg' %}"
                alt=""
                style="width: 30%"
              />
              <br />
              <span class="ec-404-content__text"> 
                  <a href="{% url 'orders' %}">View your orders</a>
              </span>
              <br>
              <span class="ec-404-content__text"> 
                <a href="{% url 'home' %}">Return to homepage</a>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
