{% load static %}
{% load sass_tags %}


<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css'%}">
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/icofont.scss'%}">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/themify.scss'%}">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/flag-icon.scss'%}">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/feather-icon.scss'%}">
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/slick.scss'%}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick-theme.css'%}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss'%}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss'%}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/sweetalert2.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/bootstrap.scss' %}" />
<!-- App css-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/style.scss' %}" />
<link id="color" rel="stylesheet" href="{% sass_src 'assets/scss/color-1.scss' %}" media="screen" />
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/responsive.scss' %}" />