{% extends 'dashboard/dashboard_base.html' %}

{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}
{% comment %} {% block title %}
    <title>Add category | Dashboard </title>
{% endblock %}{% endcomment %}
{% block content %} 

<div class="page-body">
      <div class="container-fluid">
            {% include 'core/message.html' %}
            {% comment %} {% include 'core/form_error.html' %} {% endcomment %}
            <div class="row">
                  <div class="col-sm-12 col-xl-20">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                  <div class="card-header">
                                    <h5>{{title}}</h5>
                                  </div>
                                  <div class="card-body">
                                    <form method="POST" class="theme-form">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <br>
                                        <button type="submit" class="btn btn-primary">{{title}}</button>
                                        <a href="{% url 'dashboard-categories' %}" class="btn btn-outline-info btn-margin-xl">Cancle</a>
                                    </form>
                              </div>
                                </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                        <div class="row">
                              {% comment %} {% include "forms-table/forms/form-layout/default-form/components/mega-form.html" %}
                              {% include "forms-table/forms/form-layout/default-form/components/inline-form.html" %} {% endcomment %}
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}